html
{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

body
{
    align-items: center;
    background: linear-gradient(34deg,#202020, #252525, #000000);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;

}

.wrapper
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(187, 187, 187, 0.75);
    border: 1px solid rgba(185, 185, 185, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #a0a0a0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(208, 208, 208, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}


.screen
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(224, 222, 222);
    border: 1px solid rgba(195, 174, 174, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255,255,255,0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;

}

.calc-button-row
{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

}

.calc-button
{
    
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(55, 55, 55, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #000000;
    background: #eda725;
}

.calc-button:last-child:hover
{
    background-color:#c98c1c;
    color:#000000;
}
.calc-button:last-child:active
{
    background-color: #bb7c1c;
}
.calc-button:hover
{
    background-color:#1b1b1b;
    color:#ffffff;
}
.calc-button:active
{
    background-color: #000000;
}

.double
{
    flex-basis: 47%;
    background: #fcbe2d;
}
.double:hover
{
    background: #c08601e0;
}
.double:active
{
    background: #ffb700e0;
}

.triple
{
    flex-basis: 73%;
}


.black
{
    color: #000000;
}
